table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    td:last-child {
        white-space: normal;
    }

tr:hover td {
    height: auto;
    white-space: normal;
}

.table-l {
    width: 190px;
    margin-top: 5px;
}

.table-p {
    float: right;
}

.table-s {
    margin-bottom: 5px;
}

.table-label {
    width: auto;
    padding-top: 6px;
}

.content button {
    border: none;
}

#example button {
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.ThForMoreButton {
    width: 30px;
    text-align: center;
}

.showBnt {
    margin-left: 12px;
}
