table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-l {
    width: 190px;
    margin-top: 5px;
}

.table-p {
    float: right;
}

.table-s {
    margin-bottom: 5px;
}

.table-label {
    width: auto;
    padding-top: 6px;
}

.content button {
    border: none;
}

#example button {
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.ThForMoreButton {
    width: 30px;
    text-align: center;
}

.showBntA {
    margin-left: 12px;
}
.showBntDiv {
    display: flex;
    position: absolute;
    right: 4px;
    top: 4px;
}
.paddingxl {
    padding:5px;
}
.marginbottomxl {
    margin-bottom: 5px;
}

#tooltip {
    position: absolute;
    border-radius: 5px;
    background: #3c8dbc;
    padding: 5px;
    color: #fff;
    display: none;
    opacity: 0.9;
    font-size: 17px;
    z-index: 99;
}
.tdpositionoverflow {
    position: relative;
    overflow: inherit;
}